playwright==1.44.0
seleniumbase
pytweening==1.2.0
supabase>=2.5.1
python-dotenv==1.0.1
pydantic>=2.11.7
aiofiles==23.2.1
2captcha-python>=1.2.0
# For future captcha integrations, e.g.:
# twocaptcha==1.2.0
# For logging
# Already in stdlib
redis
httpx>=0.24.0

xvfbwrapper==0.2.9
pyautogui==0.9.54
